@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
:root{
    --colorMenu:black;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Alice';
}
.Menu{
    background-color: var(--colorMenu);
    display: flex;    
    position:fixed;
    width: 100%;
    z-index: 1000;
    justify-content: center;
}
.icono{
    margin-top: 3%;
    width: 5%;
    height: 5%;
}
.sabana{
    float: left;
    width: 9%;
    height: 9%;
}
i {
    float: left;
    color: aliceblue;
}
nav{
    float: left;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-size: 150%;
    width: 20%;
}
nav ul li a{
    text-align: center;
    display:block;
    padding: 10%;
    color: aliceblue;
    text-decoration: none;
}
nav ul .botones:hover{
    background-color: aqua;
}
/**pagina principal**/
.Fraseprincipal{
    /**
    background-image:linear-gradient(to top,#000000af,#00000080), 
    url(https://images.pexels.com/photos/4144179/pexels-photo-4144179.jpeg?auto=compress&cs=tinysrgb&w=600);
    width: 100%;
    min-height: 80vh;
    **/
    background-color: aqua;
    color: rgb(19, 19, 20);    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-size: cover;
    background-repeat: no-repeat; 
}
.Mensaje_Motivador{
    z-index: 2;
    
}
.Fraseprincipal img{
    position: relative;
    z-index: 5;
    width: 100%;
    min-height: 10vh;
}
.Mensaje_Motivador h1{
    margin: 10% 20% 0%;
    font-size: 230%;
    text-align: center;
}
.Mensaje_Motivador h2{
    text-align: center;
    display: block;

}
